* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.collapse > .btn,
.hero .d-grid > button {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 0;
  padding: 12px 25px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  transition: all 0.2s;
}

.nav-link {
  color: #000 !important;
}

.nav-divider {
  background-color: #e4ebf3;
  width: 1px;
  height: 22px;
  margin-left: 15px;
  margin-right: 15px;
}

.hero h1 {
  direction: ltr;
  color: #013a51;
  letter-spacing: 1.5px;
  text-transform: none;
  column-count: auto;
  white-space: normal;
  border: 0 solid #2ecc71;
  margin-top: 10px;
  font-family: PT Serif, serif;
  font-size: 42px;
  font-weight: 700 !important;
  line-height: 60px !important;
  transition: opacity 0.175s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.fast {
  text-align: center;
  margin-bottom: 16px;
}

.hero {
    background-color: #fff;
    background-image: url(./assets/images/taln.cloud.jpg);
    background-position: 0 0;
    background-size: cover;
    border-bottom: 0 solid rgba(0, 0, 0, 0);
    border-radius: 0;
    width: 100%;
    height: auto;
    max-height: none;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 60px 30px;
    display: block;
    position: static;
}

.scroll {
  height: 1000vh;
}
